html {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
  }
  h1,
  h2 {
   color: #8C3636;
  }
  h1 {
   font-size: 24pt;
   margin-bottom: 8px;
  }
  h2 {
   font-size: 18pt;
   margin-top: 8px;
  }
  button:hover {
   background-color: #e6e6e6;
  }
  .indicators {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
  }
  .indicators > div {
   color: white;
   width: 72px;
   margin: 10px;
   text-align: center;
   line-height: 60px;
   font-size: 30pt;
   font-weight: bolder;
  }
  .indicator-off {
   background-color: #0014a8;
  }
  .indicator-on {
   background-color: #b30000;
  }
  .buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family:system-ui;
    font-size: 24pt;
    padding-bottom: 20px;
    height: 58px;
  }
  .buttons > div {
    background-color: #f1f1f1;
    width: 80px;
    text-align: center;
  }
  button {
    min-width: 60px;
    font-size: 24pt;
  }
  .datarow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
    .datarow > div {
    width: 80px;
    text-align: center;
    line-height: 40px;
    font-size: 16pt;
  }
  .icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
   .icons > div {
    text-align: center;
  }
  .timerow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .timerow > div {
    text-align: center;
    line-height: 40px;
    font-size: 12pt;
  }
  .icon-wifi {
   mask: url("wifi.svg");
  }
  .icon-bluetooth {
   mask: url("bluetooth.svg");
  }
  .icon-matter {
   mask: url("matter.svg");
  }
  .icon-tools {
    mask: url("tools.svg");
   }
   .icon {
   display: inline-block;
   width: 32px;
   height: 32px;
   background: #BEBEBE;
   mask-size: cover;
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   mask-position: center;
   margin: 32px;
  }
  .icon:hover,
  .icon:focus {
   background: red;
  }